# Treat all files with .proto extension as protocol buffer files
# Explicitly specify the language for protocol buffer files
*.proto linguist-detectable=true
*.proto linguist-language=protobuf

# Treat all files with .sql extension as SQL files
# Explicitly specify the language for SQL files
*.sql linguist-detectable=true
*.sql linguist-language=sql

# Treat all files with Dockerfile prefix as Dockerfiles
Dockerfile.* linguist-detectable=true
Dockerfile.* linguist-language=Dockerfile
